{#
--------------------------------------------------------
Navigation Metas
--------------------------------------------------------
 #}

{% set navbar_links = [{
	   "href": "index.html",
	   "id": "index",
	   "caption": "Index"
	   },
	   {
	   "href": "about.html",
	   "id": "about",
	   "caption": "About"
	   }
   ] -%}


{#
--------------------------------------------------------
Header
--------------------------------------------------------
 #}

<nav class="navbar navbar-light bg-faded navbar-top">
	<div class="container">
		<button class="navbar-toggler hidden-sm-up pull-xs-right" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
			&#9776;
		</button>
		<a class="navbar-brand" href="/">
			{{ project_name }}
		</a>
		<div class="collapse navbar-toggleable-xs" id="collapsingNavbar">
			<ul class="nav navbar-nav pull-sm-right">
                {# Links added via variables show up here. You can manually add custom links or dropdowns before or after the loop #}
				{% for item in navbar_links %}
				  	<li class="nav-item {% if item.id|e == page_name %} active{% endif%}">
					  	<a href="{{ item.href|e }}" class="nav-link">{{ item.caption|e }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</nav>
