{#
--------------------------------------------------------
Page Metas
--------------------------------------------------------
 #}
{% extends "../templates/base.njk" %}
{% set page_name = "about" %}

{#
--------------------------------------------------------
Page Content
--------------------------------------------------------
 #}
{% block content %}
    <h1>{{ page_name|e }}</h1>
{% endblock %}
