{#
--------------------------------------------------------
Page Metas
--------------------------------------------------------
 #}
{% extends "../templates/base.njk" %}
{% set page_name = "index" %}



{#
--------------------------------------------------------
Page Content
--------------------------------------------------------
#}
{% block content %}
    <h1>{{ page_name }}</h1>
{% endblock %}
